.accent_top {
    position: relative;
    white-space: nowrap;
}

.accent_plain, .accent_top {
    border-top: #f63 1px solid;
    padding: 1px 0px 0px 0px;
}

.accent_top:after {
    content: "";
    height: 20%;
    width: 1px;
    padding: 0;
    margin: 0;
    background-color: #f63;
    position: absolute;
    top: -0.5px;
    right: -0.5px;
}

.accent_uncertain .accent_plain, .accent_uncertain .accent_top {
    border-top: #36f 1px solid !important;
}

.accent_uncertain .accent_top:after {
    background-color: #36f !important;
}

.accent_uncertain .accent {
    color: #36f;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}